 <canvas id="canvas1"></canvas>
 <section>
    <div id="messages"></div>
    <input type="text" id="user-input" placeholder="Type message here" />
    <button id="send-btn">Send</button>
    <script src="/js/chat.js"></script>
</section>
<script src="/js/script.js"></script>

