<section class="container mt-5 col-md-9">
    <canvas id="canvas1"></canvas>
</section>
{{!-- <section class="container mt-5 w-75 h-auto" id="chat-box">
    <pre id="messages" style="overflow: scroll"></pre>
    <input class="w-100" type="text" id="user-input" placeholder="Type message here" />
    <button id="send-btn">Send</button>
</section> --}}

    <button class="btn w-100" id="play-button">Play Game</button>

    <div class="player" id = "p1">
        Player 1
        <div class="connected">Connected <span id = "p1-connected"></span></div>
        <div class="ready">Ready <span id = "p1-ready"></span></div>
    </div>
    <div class="player" id = "p2">
        Player 2
        <div class="connected">Connected <span id = "p2-connected"></span></div>
        <div class="ready">Ready <span id = "p2-ready"></span></div>
    </div>

    <button class="btn w-100" id="start-button">Start Game</button>

    <section class="container mt-5 col-md-9">
        <canvas id="canvas1"></canvas>
    </section>
    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/NEWgame.js"></script>