  <div class = "container mt-5 w-75 h-auto" id="start-menu">
    <div class = "row m-2 align-items-center justify-content-center">
      <div class = "col-8 m-2">
        <button class="btn-lg w-100" id="btnCreate">New Game</button>
      </div>
      <div class = "col-8 m-2">
        <button class="btn-lg" id="btnJoin">Join Game</button>
        <input type="text" id="txtGameId">
      </div>
    </div>

    <div class = "container">
      <div class="col-12" id="divPlayers"></div>
      </div>
    </div>
  
<script src="/js/script.js"></script>