  <div class = "container mt-5 w-50 h-auto border border-4 rounded border-primary ">
    <div class = "row m-2 align-items-center">
      <div class = "col-12 m-2">
        <button class="btn-lg w-100" id="btnCreate">New Game</button>
      </div>
      <div class = "col-12 m-2">
        <button class="btn-lg" id="btnJoin">Join Game</button>
        <input type="text" id="txtGameId">
      </div>
    </div>

    <div class = "container">
      <div class="col-12" id="divPlayers"></div>
      </div>
    </div>
  
<script src="/js/script.js"></script>