<div class="container mt-4">
    <div id="gameScore">
        <div>Leaderboard</div>
        <div id="playerScore">
        </div>


    </div>
    <div>
        {{#if loggedIn}}
        <canvas id="canvas1"></canvas>
        {{else}}
        <h2 id="login-status">Must be logged in, in order to play!</h2>
        <style>
            #gameScore,
            #canvas1 {
                display: none
            }
        </style>
        {{/if}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"
    integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
<script src="./js/classes/Player.js"></script>
<script src="./js/classes/Particle.js"></script>
<script src="./js/classes/Projectile.js"></script>
<script src="./js/NEWgame.js"></script>
<script src="/js/eventListeners.js"></script>