 <canvas id="canvas1"></canvas>
 <section class = "container mt-5 w-75 h-auto" id="chat-box">
    <div id="messages"></div>
    <input type="text" id="user-input" placeholder="Type message here" />
    <button id="send-btn">Send</button>
</section>
<script src="/js/script.js"></script>

