<button class="btn-lg" id="btnCreate">New Game</button>
<button class="btn-lg" id="btnJoin">Join Game</button>
<input type="text" id="txtGameId">
<div id="divPlayers"></div>

<script>
  // HTML elements
  let clientId = null;
  let gameId = null;

  let ws = new WebSocket("ws://localhost:3002");
  const btnCreate = document.getElementById("btnCreate");
  const btnJoin = document.getElementById("btnJoin");
  const txtGameId = document.getElementById("txtGameId");
  const divPlayers = document.getElementById("divPlayers");

  // wiring events
  btnJoin.addEventListener("click", e => {
    
    if (gameId === null) {
      gameId = txtGameId.value;
    }
    const payLoad = {
      "method": "connect",
      "clientId": clientId,
      "gameId": gameId,
    };
    console.log('connecting ...')
    ws.send(JSON.stringify(payLoad));
  })


  btnCreate.addEventListener("click", e => {
    const payLoad = {
      "method": "create",
      "clientId": clientId,
    };
    ws.send(JSON.stringify(payLoad));
  })
  
  ws.onmessage = message => {
    // message data
    const response = JSON.parse(message.data);
    // connect
    if (response.method === "connect") {
      clientId = response.clientId;
      console.log("client id set successfully: " + clientId);
    };

    // create
    if (response.method === "create") {
      gameId = response.game.Id;
      console.log("game successfully created with id: " + response.game.id + " with " + response.game.balls + " balls");
    };

    // join
    if (response.method === "join") {
      const game = response.game;

      while(divPlayers.firstChild) 
        divplayers.removeChild(divPlayers.firstChild);
      
      game.clients.forEach (c => {
        const d = document.createElement("div");
        d.style.width = "200px";
        d.style.background = c.color;
        d.textContent = c.clientId;
        divPlayers.appendChild(d);
      })
    };
  };
</script>