<button class="btn-lg" id="btnCreate">New Game</button>
<button class="btn-lg" id="btnJoin">Join Game</button>
<input type="text" id="txtGameId">
<div id="divPlayers"></div>
<script src="/js/script.js"></script>