 <section class = "container mt-5 col-md-9">
    <canvas id="canvas1"></canvas>
</section>
 <section class = "container mt-5 w-75 h-auto" id="chat-box">
    <pre id="messages" style="overflow: scroll"></pre>
    <input class="w-100" type="text" id="user-input" placeholder="Type message here" />
    <button id="send-btn">Send</button>
</section>
<script src="/js/gameplay.js"></script>

