* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#2f0169 0%, #14062f 65%, #070a1a 80%);
}

.container {
  margin-top: 100px;
  max-width: fit-content;
}

#canvas1 {
  width: 800px;
  height: 500px;
  border: 4px solid black;
}

.login{
    background-color: rgb(196, 4, 143, 0.8);
    color: white;
    font-family: 'VT323', monospace;
}

#btnCreate,
#btnJoin{
    background-image: linear-gradient(to bottom right, #8756a4,#6c68af, #5975b9);
    color: white;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

#txtGameId{
    background-color: rgb(196, 4, 143, 0.7);
}
#start-menu{
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 0.5rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 1.8rem #bc13fe,
                inset 0 0 1rem #bc13fe; 
    max-width: 800px;
}


#neon-text {
    font-size: 72px;
    font-family: 'Tilt Neon', cursive;
    animation: flicker 1.5s infinite alternate;   
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;  
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

