body {
  background-image: radial-gradient(#2f0169 0%, #14062f 65%, #070a1a 80%);
}

.add_player{
  background-color: #8756a4;
  border: 0.02rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .1rem #fff,
              0 0 .2rem #fff,
              0 0 0.3rem #bc13fe,
              0 0 0.4rem #bc13fe,
              0 0 0.6rem #bc13fe;
              /* inset 0 0 rem #bc13fe;  */
}

.login{
  background-color: transparent;
  color: #6c68af;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.login:hover{
  text-decoration: none;
  color:white; 
  text-shadow: 
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 5px #0fa,
    0 0 10px #0fa,
    0 0 15px #0fa;
}

#canvas1 {
  width: 800px;
  height: 500px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.8rem #bc13fe,
              inset 0 0 1rem #bc13fe; 
}

#btnCreate,
#btnJoin{
    transition: all .2s ease-in-out; 
    background-image: linear-gradient(to bottom right, #8756a4,#6c68af, #5975b9);
    color: white;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

#newGameEl p{
  color:white; 
  margin-top: 10px; 
}

#btnCreate:hover, 
#btnJoin:hover{
  transform: scale(1.1);
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.8rem #bc13fe,
              inset 0 0 1rem #bc13fe; 
}

#txtGameId{
    background-color: transparent;
    border: #6c68af solid 1px;
    border-radius: 0.2rem;
    color: white;
    height: 40px;

}
#start-menu{
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 0.5rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 1.8rem #bc13fe,
                inset 0 0 1rem #bc13fe; 
    max-width: 800px;
}

#join_players{
  font-family: 'VT323', monospace;
  color: white;
}

#neon-text {
    font-size: 72px;
    font-family: 'Tilt Neon', cursive;
    animation: flicker 1.5s infinite alternate;   
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;  
}

#neon-text:hover{
  text-decoration: none;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

#chat-box {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.8rem #bc13fe,
              inset 0 0 1rem #bc13fe; 
  max-width: 800px;
}